<div class="container marginTop20px" *ngIf="coins.length != 0">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-title">Favorites</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12">
      <div class="slider">
        <div class="slider__item" [ngClass]="'slider__item--' + i" *ngFor="let coin of coins; let i = index">
          <div class="card-container">
            <div class="card-star no-layout">
              <button
                class="card-star no-layout"
                (click)="removeFavorite(coin)"
              >
                <img
                  [src]="
                    !coin.isSelected
                      ? './assets/images/star-empty.png'
                      : './assets/images/star-filled.png'
                  "
                  alt="Favorite icon"
                />
              </button>
            </div>

            <a class="card" [routerLink]="['/details', coin.name]">
              <div class="card-header">
                <div
                  class="card-avatar"
                  [ngStyle]="{ 'background-image': 'url(' + coin.image + ')' }"
                  alt="favorite Image"
                ></div>
              </div>

              <div class="card-body">
                <h5 class="card-title">{{ coin?.name }}</h5>
                <p class="card-text">
                  {{ coin?.currentPrice | currency:'BRL':true }} | {{ coin?.totalVolume }}
                </p>
              </div>

              <div class="card-footer">
                <app-chart [coin]="coin"></app-chart>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
